<div class="audit-content-item col-sm-7">
  <% if flash.notice %>
    <div class="alert alert-success" role="alert">
      <p>
        <strong>Success:</strong>
        <%= flash.notice %>
      </p>
    </div>
  <% elsif flash.alert %>
    <div class="alert alert-warning" role="alert">
      <p>
        <strong>Warning:</strong>
        <%= flash.alert %>
      </p>
    </div>
  <% end %>

  <nav class="prev-next-links">
    <%= link_to "< All items", audits_path(filter_params.without(:page)), class: "all-items" %>
    <%= link_to "Next", content_item_audit_path(next_content_item, filter_params), class: "next-item" if next_content_item %>
  </nav>

  <h2><%= link_to content_item.title, content_item.url, target: :_blank %></h2>

  <p class="description">
    <%= content_item.description %>
  </p>

  <hr/>

  <%= link_to "Audit guidance", audits_guidance_path %>

  <% if audit.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p>Please answer all the questions.</p>
    </div>
  <% end %>

  <h4>Do these things need to change?</h4>

  <%= form_for audit, url: content_item_audit_path(filter_params) do |form| %>
    <%= render 'boolean_question', form: form,
               attribute: :change_title,
               question: 'Title' %>

    <%= render 'boolean_question', form: form,
               attribute: :change_description,
               question: 'Summary' %>

    <%= render 'boolean_question', form: form,
               attribute: :change_body,
               question: 'Page detail' %>

    <%= render 'boolean_question', form: form,
               attribute: :change_attachments,
               question: 'Attachments' %>

    <%= render 'boolean_question', form: form,
               attribute: :reformat,
               question: 'Content type' %>

    <%= render 'boolean_question', form: form,
               attribute: :outdated,
               question: 'Is the content out of date?' %>

    <div data-module="show-free-text-question">
      <%= render 'boolean_question', form: form,
                 attribute: :redundant,
                 question: 'Should the content be removed?' %>

      <%= render 'free_text_question', form: form,
                 attribute: :redirect_urls,
                 question: 'Where should users be redirected to? (optional)',
                 related_question_answered: audit.redundant %>
    </div>

    <div data-module="show-free-text-question">
      <%= render 'boolean_question', form: form,
                 attribute: :similar,
                 question: 'Is this content very similar to other pages?' %>

      <%= render 'free_text_question', form: form,
                 attribute: :similar_urls,
                 question: 'URLs of similar pages',
                 related_question_answered: audit.similar %>
    </div>

    <%= render 'free_text_question', form: form,
               attribute: :notes,
               question: 'Notes',
               related_question_answered: {} %>

    <%= form.submit "Save and continue", class: "btn btn-success" %>
  <% end %>
</div>

<div class="col-sm-1"></div>

<div class="col-sm-4">
  <div id="metadata" class="audit-metadata">
    <div id="allocated">
      <h4>Assigned to</h4>
      <% if content_item.allocation %>
        <p><%= content_item.auditor %></p>
        <p><%= content_item.auditor_org %></p>
     <% else %>
        <p>No one</p>
      <% end %>
    </div>
    <div id="audited">
      <h4>Audited</h4>

      <% if audit.incomplete? %>
        <p>Not audited yet</p>
      <% else %>
        <p><%= audit.last_updated %></p>
        <p>by <%= audit.user.name %></p>
        <p><%= audit.user.department %></p>
      <% end %>
    </div>

    <div id="organisations">
      <h4>Organisations</h4>
      <p><%= content_item.organisations %></p>
    </div>

    <div id="last-updated">
      <h4>Last major update</h4>
      <p><%= content_item.last_updated %></p>
    </div>

    <div id="content-type">
      <h4>Content type</h4>
      <p><%= content_item.document_type %></p>
    </div>

    <div id="guidance">
      <h4>Guidance</h4>
      <p><%= content_item.guidance %></p>
    </div>

    <div id="topics">
      <h4>Topics</h4>
      <p><%= content_item.topics %></p>
    </div>

    <div id="policy-areas">
      <h4>Policy areas</h4>
      <p><%= content_item.policy_areas %></p>
    </div>

    <div id="withdrawn">
      <h4>Withdrawn</h4>
      <p><%= content_item.withdrawn %></p>
    </div>

    <div id="pageviews">
      <h4>Unique pageviews</h4>
      <p><%= content_item.one_month_page_views %> in the last month</p>
      <p><%= content_item.six_months_page_views %> in the last six months</p>
    </div>
  </div>
</div>
