<div class="audit-content-item">
  <% if flash.notice %>
    <div class="alert alert-success" role="alert" data-test-id="audit-success-message">
      <p>
        <%= flash.notice %>
      </p>
    </div>
  <% elsif flash.alert %>
    <div class="alert alert-warning" role="alert">
      <p>
        <strong>Warning:</strong>
        <%= flash.alert %>
      </p>
    </div>
  <% end %>

  <nav class="all-items-nav">
    <%= link_to "< All items", audits_path(filter_params.without(:page)), class: "all-items" %>
  </nav>

  <h2 data-test-id='content-item-title'>
    <%= link_to content_item.title, content_item.url, target: :_blank %>
  </h2>

  <p class="description" data-test-id="content-item-description">
    <%= content_item.description %>
  </p>

  <hr/>

  <%= render "metadata" %>

  <hr/>

  <%= link_to "Audit guidance", audits_guidance_path, target: "_blank", rel: "noopener noreferrer" %>

  <% if audit.errors.any? %>
    <div class="alert alert-danger" role="alert" data-test-id="audit-error-message">
      <p>Please answer all the questions.</p>
    </div>
  <% end %>

  <h4 data-test-id="questions-title">Do these things need to change?</h4>

  <%= form_for audit, url: content_item_audit_path(filter_params) do |form| %>
    <%= render 'boolean_question', form: form,
               attribute: :change_title,
               question: 'Title' %>

    <%= render 'boolean_question', form: form,
               attribute: :change_description,
               question: 'Summary' %>

    <%= render 'boolean_question', form: form,
               attribute: :change_body,
               question: 'Page detail' %>

    <%= render 'boolean_question', form: form,
               attribute: :change_attachments,
               question: 'Attachments' %>

    <%= render 'boolean_question', form: form,
               attribute: :reformat,
               question: 'Content type' %>

    <%= render 'boolean_question', form: form,
               attribute: :outdated,
               question: 'Is the content out of date?' %>

    <div data-module="show-free-text-question">
      <%= render 'boolean_question', form: form,
                 attribute: :similar,
                 question: 'Is this content very similar to other pages?' %>

      <%= render 'free_text_question', form: form,
                 attribute: :similar_urls,
                 question: 'URLs of similar pages',
                 related_question_answered: audit.similar %>
    </div>

    <div data-module="show-free-text-question">
      <%= render 'boolean_question', form: form,
                 attribute: :redundant,
                 question: 'Should the content be removed?' %>

      <%= render 'free_text_question', form: form,
                 attribute: :redirect_urls,
                 question: 'Where should users be redirected to? (optional)',
                 related_question_answered: audit.redundant %>
    </div>

    <%= render 'free_text_question', form: form,
               attribute: :notes,
               question: 'Notes',
               related_question_answered: {} %>

    <%= form.submit "Save and continue", class: "btn btn-success", data: { test_id: 'save-audit-form'} %>
  <% end %>
</div>
