<h1>Create new project</h1>

<div class='row'>
  <div class='col-md-8'>
    <%= form_for @form, url: taxonomy_projects_path do |f| %>
      <div class="form-group">
        <%= f.label :name, "Name", class: "control-label" %>

        <div class="form-wrapper">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :csv_url, "Google Spreadsheet URL", class: "control-label" %>

        <div class="form-wrapper">
          <%= f.text_field :csv_url, class: "form-control" %>
        </div>

        <p>The spreadsheet should have a <code>content_id</code> column with the
          content IDs of the pages. </p>
      </div>

      <%= f.submit "Save", class: "btn btn-success" %>
    <% end %>
  </div>

  <div class='col-md-4'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <i class="glyphicon glyphicon-info-sign"></i>
          How to generate a Google Spreadsheet URL
        </div>
      </div>
      <div class="panel-body">
        <p>In order to create a publicly available Google Spreadsheet URL, follow these instructions:</p>
        <ul>
          <li>Click <strong>File > Publish to the web</strong></li>
          <li>In the <strong>Link</strong> tab, select the sheet you want to make public in the first dropdown and <strong>Tab-separated values (.tsv)</strong> in the second dropdown</li>
          <li>Finalise by clicking <strong>Publish</strong> and copying the link</li>
        </ul>

        <p class='explain'>
          See the <%= link_to "example spreadsheet",
            "https://docs.google.com/spreadsheets/d/1tR07OxVJoak04KuHj-clH2fHDuHiy3JOMNOMJB7cnzA/pub?gid=2031568164&single=true&output=tsv" %>
            for the correct format.
        </p>
      </div>
    </div>
  </div>
</div>
