<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%=@todo_form.title%></h4>
      </div>
      <div class="modal-body">
        <iframe id='#frame' src="<%=@todo_form.url%>"  sandbox="" width="100%" height="600" scrolling="yes"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-9">
  <% if flash.notice %>
    <div class="alert alert-success" role="alert">
      <p>
        <strong>Success:</strong>
        <%= flash.notice %>
      </p>
    </div>
  <% elsif flash.alert %>
    <div class="alert alert-warning" role="alert">
      <p>
        <strong>Warning:</strong>
        <%= flash.alert %>
      </p>
    </div>
  <% end %>

  <h2 class='project-name'><%= link_to @todo_form.project.name, taxonomy_projects_path(@todo_form.project.name) %></h2>
  <h1><%= link_to @todo_form.title, @todo_form.url, data: {toggle: "modal", target: "#myModal"} %></h1>

  <p class="description">
    <%= @todo_form.description %>
  </p>

  <%= form_for @todo_form, url: taxonomy_todo_path(@todo_form.taxonomy_todo), method: 'put' do |f| %>
    <div class='form-group'>
      <%= f.label :terms, 'Terms', class: 'control-label' %>
      <div class='form-wrapper'>
        <%= f.text_field :terms, value: @todo_form.terms %>
      </div>
      <script>
        var terms = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          remote: '<%= terms_taxonomy_project_path(@todo_form.taxonomy_todo.taxonomy_project, format: 'json') %>'
        });

        terms.initialize();

        $('#taxonomy_todo_form_terms').tagsinput({
          trimValue: true,
          typeaheadjs: {
            name: 'terms',
            displayKey: 'name',
            valueKey: 'name',
            source: terms.ttAdapter()
          }
        });
      </script>
    </div>

    <%= f.submit "Save", class: "btn btn-success" %>
  <% end %>
  or

  <div class='state-changers'>
    <%= button_to "I don't know", dont_know_taxonomy_todo_path(@todo_form.taxonomy_todo), class: 'btn btn-md btn-default' %>
    <%= button_to "This page is not relevant / relevant to different theme", not_relevant_taxonomy_todo_path(@todo_form.taxonomy_todo), class: 'btn btn-md btn-default' %>
  </div>

  <div class="add-top-padding">
    <iframe id='#frame' src="<%=@todo_form.url%>"  sandbox="" width="100%" height="800" scrolling="yes"></iframe>
  </div>
</div>

<div class="col-sm-3">
  <div id="metadata" class="term_review-metadata">
    <div>
      <% if @todo_form.taxonomy_todo.completed? %>
        <h4>Completed</h4>
        <p>
          <%= @todo_form.taxonomy_todo.completed_at.to_s(:govuk_date) %> by <%= @todo_form.taxonomy_todo.user.name %>
          <% unless @todo_form.taxonomy_todo.tagged? %>
            (<%= t("term_generation_states.#{@todo_form.taxonomy_todo.status}") %>)
          <% end %>
        </p>
        <hr/>
      <% end %>
    </div>

    <div id="organisations">
      <h4>Organisations</h4>
      <p><%= @todo_form.content_item.organisations %></p>
    </div>

    <div id="last-updated">
      <h4>Last updated</h4>
      <p><%= @todo_form.content_item.last_updated %></p>
    </div>

    <div id="content-type">
      <h4>Content type</h4>
      <p><%= @todo_form.content_item.document_type %></p>
    </div>

    <div id="guidance">
      <h4>Guidance</h4>
      <p><%= @todo_form.content_item.guidance %></p>
    </div>

    <div id="topics">
      <h4>Topics</h4>
      <p><%= @todo_form.content_item.topics %></p>
    </div>

    <div id="policy-areas">
      <h4>Policy areas</h4>
      <p><%= @todo_form.content_item.policy_areas %></p>
    </div>

    <div id="withdrawn">
      <h4>Withdrawn</h4>
      <p><%= @todo_form.content_item.withdrawn %></p>
    </div>

    <div id="pageviews">
      <h4>Unique pageviews</h4>
      <p><%= @todo_form.content_item.one_month_page_views %> in the last month</p>
      <p><%= @todo_form.content_item.six_months_page_views %> in the last six months</p>
    </div>
  </div>
</div>
