<% content_for :sidebar do %>
  <%= render 'sidebar', locals: { search: @search} %>
<% end %>

<%= render 'header' %>
<%= render 'summary' %>

<table class="table table-bordered table-hover">
  <thead>
    <tr class="table-header">
      <%= sort_table_header heading: "Title", attribute: "title" %>
      <%= sort_table_header heading: "Doc type", attribute: "document_type" %>
      <%= sort_table_header heading: "Page views (1 month)", attribute: "one_month_page_views" %>
      <%= sort_table_header heading: "Page views (6 months)", attribute: "six_months_page_views" %>
      <%= sort_table_header heading: "Last major update", attribute: "public_updated_at" %>
    </tr>
  </thead>
  <tbody>
    <%= render content_items %>
  </tbody>
</table>

<%= paginate content_items, :window => 2 %>
