<tr>
  <td><%= link_to content_item.title, content_item_path(id: content_item.id) %></td>
  <% if @organisation.blank? %>
    <td>
      <%= content_item.organisation_links %>
    </td>
  <% end %>
  <td><%= content_item.document_type %></td>
  <td><%= content_item.one_month_page_views %></td>
  <td>
    <% if content_item.public_updated_at %>
      <%= time_ago_in_words(content_item.public_updated_at) %> ago
    <% else %>
      Never
    <% end %>
  </td>
</tr>
