<%= form_tag content_items_path, method: :get, class: 'form-horizontal' do %>
  <div class="form-group">
    <label for="organisation_slug" class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      <%= label_tag 'Organisation' %>
      <%= select_tag :organisation_slug, options_from_collection_for_select(@organisations, :slug, :title), include_blank: true, class: "form-control" %>
      <%= label_tag 'Taxonomy' %>
      <%= select_tag :taxonomy_title, options_from_collection_for_select(@taxonomies, :title, :title), include_blank: true, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= submit_tag "Filter", class: "btn btn-default btn-lg", name: nil %>
    </div>
  </div>
<% end %>
