<h1><%= @organisation.title %></h1>
<table>
  <thead>
    <tr>
      <%= sort_table_header "Title", "title" %>
      <%= sort_table_header "Type of Document", "document_type" %>
      <%= sort_table_header "Last Updated", "public_updated_at" %>
    </tr>
  </thead>
  <tbody>
    <%= render @content_items %>
  </tbody>
</table>

<%= paginate @content_items %>
