<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>

<h1><%= @content_items.header organisation: @organisation, taxon: @taxon %></h1>

<%= render 'summary' %>

<table class="table table-bordered table-hover">
  <thead>
    <tr class="table-header">
      <%= sort_table_header heading: "Title", attribute: "title", filter_options: @filter_options %>
      <%= sort_table_header heading: "Doc type", attribute: "document_type", filter_options: @filter_options %>
      <%= sort_table_header heading: "Page views (1mth)", attribute: "one_month_page_views", filter_options: @filter_options %>
      <%= sort_table_header heading: "Page views (6mth)", attribute: "six_months_page_views", filter_options: @filter_options %>
      <%= sort_table_header heading: "Last major update", attribute: "public_updated_at", filter_options: @filter_options %>
    </tr>
  </thead>
  <tbody>
    <%= render @content_items %>
  </tbody>
</table>

<%= paginate @content_items, :window => 2 %>
