<% content_for :sidebar do %>
  <%= render 'application/sidebar' %>  
<% end %>

<h1><%= @content_items.header organisation: @organisation, taxonomy: @taxonomy %></h1>

<%= render 'summary' %>

<table class="table table-bordered table-hover">
  <thead>
    <tr class="table-header">
      <%= sort_table_header "Title", "title" %>
      <%= sort_table_header "Doc type", "document_type" %>
      <%= sort_table_header "Page views (1mth)", "unique_page_views" %>
      <%= sort_table_header "Last Updated", "public_updated_at" %>
    </tr>
  </thead>
  <tbody>
    <%= render @content_items %>
  </tbody>
</table>

<%= paginate @content_items, :window => 2 %>
