<%= form_tag content_items_path, method: :get, class: 'row' do %>
    <div class="col-xs-10">
      <%= label_tag 'query', 'Your search term', class: 'rm' %>
      <%= text_field_tag 'query', params[:query], placeholder: 'Enter search term...', class: 'form-control input-lg' %>
    </div>
    <div class="col-xs-2">
      <%= submit_tag 'Search', class: "btn btn-default btn-lg btn-block" %>
    </div>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= hidden_field_tag :order, params[:order] %>
<% end %>
</tr>

<h1><%= @content_items.header %></h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr class="table-header">
      <%= sort_table_header "Title", "title" %>
      <% if @organisation.blank? %>
        <th>Organisation</th>
      <% end %>
      <%= sort_table_header "Type of Document", "document_type" %>
      <%= sort_table_header "Unique page views (last 1 month)", "unique_page_views" %>
      <%= sort_table_header "Last Updated", "public_updated_at" %>
    </tr>
  </thead>
  <tbody>
    <%= render @content_items %>
  </tbody>
</table>

<%= paginate @content_items, :window => 2 %>
