<h1><%= @organisation.title %></h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Type of Document</th>
      <th>Page Views</th>
      <th><%= order_link "Last Updated", :public_updated_at, params[:order] %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @content_items %>
  </tbody>
</table>
<div id="total-content-items"> <%= page_entries_info @content_items %> </div>
<%= paginate @content_items %>
