<h1><%= @content_item.title %></h1>

<table class="table table-bordered">
  <tbody>
    <tr>
      <td>Description</td>
      <td><%= @content_item.description %></td>
    </tr>
    <tr>
      <td>Page on GOV.UK</td>
      <td><%= link_to @content_item.title, @content_item.url %></td>
    </tr>
    <tr>
      <td>Type of document</td>
      <td><%= @content_item.document_type %></td>
    </tr>
    <tr>
      <td>Page views (1 month)</td>
      <td><%= number_with_delimiter @content_item.one_month_page_views %></td>
    </tr>
    <tr>
      <td>Page views (6 months)</td>
      <td><%= number_with_delimiter @content_item.six_months_page_views %></td>
    </tr>
    <tr>
      <td>Last updated</td>
      <td>
        <%= @content_item.last_updated %>
      </td>
    </tr>
    <tr>
      <td>Support contacts</td>
      <td>
        <%= @content_item.feedex_link %>
      </td>
    </tr>
    <tr>
      <td>Organisation</td>
      <td>
        <%= @content_item.organisation_links %>
      </td>
    </tr>
    <tr>
      <td>Number of pdfs</td>
      <td><%= number_with_delimiter @content_item.number_of_pdfs %></td>
    </tr>
      <td>Topics (new taxonomy)</td>
      <td><%= @content_item.taxons_as_string %></td>
    </tr>
  </tbody>
</table>
