<p id="question-<%= boolean_question.id %>">
  <%= boolean_question.text %>

  <%= f.radio_button :value, "yes" %>
  <%= f.label :value_yes, "Yes" %>
  <%= f.radio_button :value, "no" %>
  <%= f.label :value_no, "No" %>
</p>
