<%= boolean_question.text %>

<div class="radio-buttons">
  <%= f.radio_button :value, "yes" %>
  <%= f.label :value_yes, "Yes" %>
  <%= f.radio_button :value, "no" %>
  <%= f.label :value_no, "No" %>
</div>
