
<% content_for :sidebar do %>
  <%= render 'sidebar', submit_path: audits_path %>
<% end %>

<h1>GOV.UK Content Audit</h1>

<% if flash.notice %>
  <div class="alert alert-success" role="alert">
    <p>
      <strong>Success:</strong>
      <%= flash.notice %>
    </p>
  </div>
<% elsif flash.alert %>
  <div class="alert alert-warning" role="alert">
    <p>
      <strong>Warning:</strong>
      <%= flash.alert %>
    </p>
  </div>
<% end %>

<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <%= link_to "Content", "#", aria_controls: "home", role: "tab" %>
  </li>
  <li role="presentation">
    <%= link_to "Report", audits_report_path(filter_params), aria_controls: "home", role: "tab" %>
  </li>
</ul>

<div class="tab-content">

<table class="table table-bordered table-hover">
  <thead>
  <tr class="table-header">
    <td>Title</td>
    <td>Page views (6mth)</td>
  </tr>
  </thead>
  <tbody>
  <%= render collection: @content_items, partial: 'content_item' %>
  </tbody>
</table>

<%= paginate @content_items, :window => 2 %>

</div>
