<% content_for :sidebar do %>
  <%= render 'sidebar', submit_path: audits_report_path %>
<% end %>

<h1>GOV.UK Content Audit</h1>

<ul class="tabs">
  <li><%= link_to "Content", audits_path(filter_params) %></li>
  <li class="active">Report</li>
</ul>

<%= link_to "Export filtered audit to CSV", audits_export_path(filter_params), class: "report-export" %>

<div class="report-section">
  <h3><%= format_number(@content_items.total_count) %></h3>
  <p>Content items</p>
<div>

<div id="progress">
  <h3>Audit progress</h3>

  <div class="progress">
    <div class="progress-bar"
         role="progressbar"
         aria-valuenow="<%= audited_percentage %>"
         aria-valuemin="0"
         aria-valuemax="100"
         style="width: <%= format_percentage(audited_percentage, precision: 5) %>;">
      <span class="sr-only">
        <%= format_percentage(audited_percentage, precision: 5) %> Complete
      </span>
    </div>
  </div>

  <table class="table">
    <tr>
      <td class="col-md-6">Items audited</td>
      <td class="col-md-3"><%= format_number(audited_count) %></td>
      <td class="col-md-3"><%= format_percentage(audited_percentage) %></td>
    </tr>
    <tr>
      <td class="col-md-6">Items still to audit</td>
      <td class="col-md-3"><%= format_number(not_audited_count) %></td>
      <td class="col-md-3"><%= format_percentage(not_audited_percentage) %></td>
    </tr>
  </table>
</div>

<div id="items-needing-improvement">
  <h3>Items needing improvement</h3>

  <div class="progress">
    <div class="progress-bar"
         role="progressbar"
         aria-valuenow="<%= passing_percentage %>"
         aria-valuemin="0"
         aria-valuemax="100"
         style="width: <%= format_percentage(passing_percentage, precision: 5) %>;">
      <span class="sr-only">
        <%= format_percentage(passing_percentage, precision: 5) %> Complete
      </span>
    </div>
  </div>

  <table class="table">
    <tr>
      <td class="col-md-6">Items that need improvement</td>
      <td class="col-md-3"><%= format_number(passing_count) %></td>
      <td class="col-md-3"><%= format_percentage(passing_percentage) %></td>
    </tr>
    <tr>
      <td class="col-md-6">Items that don't need improvement</td>
      <td class="col-md-3"><%= format_number(not_passing_count) %></td>
      <td class="col-md-3"><%= format_percentage(not_passing_percentage) %></td>
    </tr>
  </table>
</div>

</div>
