<div class="audit-questionnaire col-sm-7">
  <% if flash.notice %>
    <div class="alert alert-success" role="alert">
      <p>
        <strong>Success:</strong>
        <%= flash.notice %>
      </p>
    </div>
  <% elsif flash.alert %>
    <div class="alert alert-warning" role="alert">
      <p>
        <strong>Warning:</strong>
        <%= flash.alert %>
      </p>
    </div>
  <% end %>

  <h1>GOV.UK Content Audit</h1>

  <h2><%= link_to @content_item.title, @content_item.url, target: :_blank %></h2>

  <p class="description">
    <%= @audit.content_item.description %>
  </p>

  <hr/>
  <p>Audited by <%= @audit.user_name %></p>
  <hr/>

  <%= form_for [@audit.content_item, @audit], url: content_item_audit_path do |form| %>
    <%= form.fields_for :responses do |builder| %>
      <% response = builder.object %>
      <% question = response.question %>

      <div class="<%= question.css_class %> form-group" id="<%= question.css_id %>">
        <%= render partial: question, locals: { f: builder, response: response } %>
        <%= builder.hidden_field :question_id, value: question.id %>
      </div>
    <% end %>

    <%= form.submit "Save", class: "btn btn-success" %>
  <% end %>
</div>
