<div class="allocation-menu">
  <div class="row">
    <div class="col-sm-8">
      <div class="checkbox">
        <label>
          <%= check_box_tag :select_all, nil, false %> Select all
        </label>
      </div>
      <% if select_all_pages > 1 %>
        <div class="checkbox if-js-hide" id="select_all_pages_container">
          <label>
            <%= check_box_tag :select_all_pages, nil, false %>
            Select <%= number_with_delimiter(select_all_count) %> items
            on all pages
          </label>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4">
      <div class="form-group form-inline pull-right">
        <%= label_tag :allocate_to, "Assign to" %>
        <%= select_tag "allocate_to",
                       allocate_to_options_for_select,
                       class: "form-control",
                       id: "allocate_to" %>
        <%= filter_to_hidden_fields(:allocate_to) %>
        <%= submit_tag "Go", class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
