<div class="allocation-menu">
  <div class="row">
    <div class="form-group form-inline pull-left">
      <%= label_tag :allocate_to, "Assign", class: "allocate" %>
      <%= text_field_tag :batch_size, "", class: "form-control" %>
      <%= label_tag :allocate_to, "items to", class: "items"  %>
      <%= select_tag "allocate_to",
        allocation_options_for_select(params[:allocate_to]),
        class: "form-control",
        id: "allocate_to" %>
      <%= filter_to_hidden_fields(:allocate_to, :batch_size) %>
      <%= submit_tag "Go", class: "btn btn-default" %>
    </div>
  </div>
</div>
