<div class="allocation-menu">
  <div class="row">
    <div class="form-group form-inline pull-left">
      <%= label_tag :allocate_to, "Assign", class: "allocate" %>
      <%= text_field_tag :batch_size,
          "",
          class: "form-control js-batch-size",
          value: 0,
          data: {
            tracking_id: "allocation-batch-size",
            test_id: "allocation-batch-size"
          } %>
      <%= label_tag :allocate_to, "items to", class: "items"  %>
      <%= select_tag "allocate_to",
        allocation_options_for_select(params[:allocate_to], include_anyone: false),
        class: "form-control",
        id: "allocate_to",
        data: {
          tracking_id: "allocate-to",
          test_id: "allocate-to",
        } %>
      <%= filter_to_hidden_fields %>
      <%= submit_tag "Assign", class: "btn btn-default", data: { test_id: 'allocate-button'} %>
    </div>
  </div>
</div>
