<% content_for :sidebar do %>
    <%= render 'sidebar' %>
<% end %>

<% content_for :header do %>
    <%= render 'audits/common/navigation' %>
<% end %>

<%= render 'notice' %>

<div class="allocations" data-module="batch-selection">
  <%= form_tag audits_allocations_path do %>
      <%= render 'toolbar' %>
      <%= render 'audits/common/counter', count: content_items.total_count  %>

      <table class="table table-bordered table-hover">
        <thead>
        <tr class="table-header">
          <td></td>
          <td>Title</td>
          <td>Page views (6mth)</td>
        </tr>
        </thead>
        <tbody>
        <%= render collection: content_items, partial: 'content_item' %>
        </tbody>
      </table>
  <% end %>
  <%= paginate content_items, window: 2 %>
</div>
