<% content_for :sidebar do %>
    <%= render 'sidebar' %>
<% end %>

<% content_for :header do %>
    <%= render 'audits/common/navigation' %>
<% end %>

<% if flash[:alert] %>
  <%= render 'alert', message: flash[:alert], notice_class: "alert-danger" %>
<% end %>

<% if flash[:notice] %>
  <%= render 'alert', message: flash[:notice], notice_class: "alert-success" %>
<% end %>

<div class="allocations" data-module="batch-selection">
  <%= form_tag audits_allocations_path, data: { module: "track-allocation-batch-size" } do %>
      <%= render 'toolbar' %>
      <%= render 'audits/common/counter', count: content_items.total_count  %>

      <table class="table table-bordered table-hover">
        <thead>
        <tr class="table-header">
          <td></td>
          <td>Title</td>
          <td>Page views (6 months)</td>
        </tr>
        </thead>
        <tbody>
        <%= render collection: content_items, partial: 'content_item' %>
        </tbody>
      </table>
  <% end %>
  <%= paginate content_items, window: 2 %>
</div>
