<div class="trends">
  <div class="total-items">
    <h3>Number of Content Items</h3>
    <div class="chart-stats">
      <div class="total">Total
        = <%= number_with_delimiter (@metrics.count('distinct dimensions_items.content_id') || 0) %></div>
    </div>
    <%= line_chart(@metrics.group('facts_metrics.dimensions_date_id').count, height: '150px') %>
  </div>

  <%= render 'section', metric: params[:metric1] unless params[:metric1].blank? %>
  <%= render 'section', metric: params[:metric2] unless params[:metric2].blank? %>
  <%= render 'section', metric: params[:metric3] unless params[:metric3].blank? %>
</div>
