<div class="trends">
  <% if params[:total_items].present? %>
    <div class="total_items">
      <h3>Number of Content Items</h3>
      <%= line_chart(@metrics.group('facts_metrics.dimensions_date_id').count, height: '150px') %>
    </div>
  <% end %>
  <% if params[:pageviews].present? %>
      <div class="pageviews">
        <h3>Number of Pageviews</h3>
        <%= line_chart(@metrics.group(:dimensions_date_id).sum(:pageviews), height: '150px') %>
      </div>
  <% end %>
  <% if params[:unique_pageviews].present? %>
      <div class="unique_pageviews">
        <h3>Number of Unique Pageviews</h3>
        <%= line_chart(@metrics.group(:dimensions_date_id).sum(:unique_pageviews), height: '150px') %>
      </div>
  <% end %>
  <% if params[:feedex_issues].present? %>
      <div class="feedex">
        <h3>Number of Feedex issues</h3>
        <%= line_chart(@metrics.group(:dimensions_date_id).sum(:feedex_comments), height: '150px') %>
      </div>
  <% end %>
  <% if params[:number_of_pdfs].present? %>
      <div class="number_of_pdfs">
        <h3>Number of PDFs</h3>
        <%= line_chart(@metrics.group(:dimensions_date_id).sum(:number_of_pdfs), height: '150px') %>
      </div>
  <% end %>
  <% if params[:number_of_word_files].present? %>
      <div class="number_of_word_files">
        <h3>Number of Word files</h3>
        <%= line_chart(@metrics.group(:dimensions_date_id).sum(:number_of_word_files), height: '150px') %>
      </div>
  <% end %>
  <% if params[:spell_count].present? %>
      <div class="number_of_word_files">
        <h3>Spelling errors</h3>
        <%= line_chart(@metrics.group(:dimensions_date_id).sum(:spell_count), height: '150px') %>
      </div>
  <% end %>
  <% if params[:readability_score].present? %>
      <div class="readability_score">
        <h3>Reading score</h3>
        <%= line_chart(@metrics.group(:dimensions_date_id).sum(:readability_score), height: '150px') %>
      </div>
  <% end %>
  <% if params[:is_this_useful_yes].present? %>
      <div class="is_this_useful_yes">
        <h3>Useful</h3>
        <%= line_chart(@metrics.group(:dimensions_date_id).sum(:is_this_useful_yes), height: '150px') %>
      </div>
  <% end %>
  <% if params[:is_this_useful_no].present? %>
      <div class="is_this_useful_no">
        <h3>Not Useful</h3>
        <%= line_chart(@metrics.group(:dimensions_date_id).sum(:is_this_useful_no), height: '150px') %>
      </div>
  <% end %>
  <% if params[:number_of_internal_searches].present? %>
      <div class="number_of_internal_searches">
        <h3>Internal Searches</h3>
        <%= line_chart(@metrics.group(:dimensions_date_id).sum(:number_of_internal_searches), height: '150px') %>
      </div>
  <% end %>
</div>
