<% if params[metric].present? %>
    <div class="<%= metric %>">
      <h3>Number of <%= "metric.to_s.titleize" %></h3>
      <%= render 'total', metric: metric %>
      <%= render 'average', metric: metric %>
      <%= render 'chart', metric: metric %>
    </div>
<% end %>
