<div class="col-sm-3 sidebar">
  <%= form_tag sandbox_path, method: :get do %>
      <div class="form-group">
        <%= label_tag 'organisation', 'Organisation ID:', class: '' %>
        <%= text_field_tag 'organisation', params[:organisation], placeholder: 'Enter organisation ID...', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag 'base_path', 'Base path:', class: '' %>
        <%= text_field_tag 'base_path', params[:base_path], placeholder: 'Enter base path...', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag 'from', 'From:', class: '' %>
        <%= date_field_tag 'from', params[:from], class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag 'to', 'To:', class: '' %>
        <%= date_field_tag 'to', params[:to], class: 'form-control' %>
      </div>
      <%= render 'metric_option', metric: :total_items %>
      <%= render 'metric_option', metric: :pageviews %>
      <%= render 'metric_option', metric: :unique_pageviews %>
      <%= render 'metric_option', metric: :feedex_comments %>
      <%= render 'metric_option', metric: :number_of_pdfs %>
      <%= render 'metric_option', metric: :number_of_word_files %>
      <%= render 'metric_option', metric: :readability_score %>
      <%= render 'metric_option', metric: :is_this_useful_yes %>
      <%= render 'metric_option', metric: :is_this_useful_no %>
      <%= render 'metric_option', metric: :contractions_count %>
      <%= render 'metric_option', metric: :equality_count %>
      <%= render 'metric_option', metric: :indefinite_article_count %>
      <%= render 'metric_option', metric: :passive_count %>
      <%= render 'metric_option', metric: :profanities_count %>
      <%= render 'metric_option', metric: :redundant_acronyms_count %>
      <%= render 'metric_option', metric: :repeated_words_count %>
      <%= render 'metric_option', metric: :simplify_count %>
      <%= render 'metric_option', metric: :spell_count %>
      <%= render 'metric_option', metric: :string_length %>
      <%= render 'metric_option', metric: :sentence_count %>
      <%= render 'metric_option', metric: :word_count %>
      <%= render 'metric_option', metric: :number_of_internal_searches %>
      
      <div class="form-group">
        <%= submit_tag 'Filter', name: 'filter', class: "btn btn-default btn-block" %>
      </div>
  <% end %>
</div>
