<div class="summary">
  <div class="row">
    <div class="summary-item col-xs-3 total_items">
      <span class="summary-item-value"><%= number_with_delimiter (@summary[:total_items] || 0) %></span>
      <span class="summary-item-label">Content Items</span>
    </div>
    <div class="summary-item col-xs-3 pageviews">
      <span class="summary-item-value"><%= number_with_delimiter (@summary[:pageviews] || 0) %></span>
      <span class="summary-item-label">Total pageviews</span>
    </div>
    <div class="summary-item col-xs-3 unique_pageviews">
      <span class="summary-item-value"><%= number_with_precision (@summary[:unique_pageviews] || 0), precision: 2 %></span>
      <span class="summary-item-label">Unique pageviews (avg)</span>
    </div>
  </div>
  <div class="row">
    <div class="summary-item col-xs-3 feedex_issues">
      <span class="summary-item-value"><%= number_with_delimiter (@summary[:feedex_comments] || 0), precision: 2 %></span>
      <span class="summary-item-label">Feedex issues</span>
    </div>
    <div class="summary-item col-xs-3 number_of_pdfs">
      <span class="summary-item-value"><%= number_with_precision (@summary[:number_of_pdfs] || 0), precision: 2 %></span>
      <span class="summary-item-label">PDFs (avg)</span>
    </div>
    <div class="summary-item col-xs-3 number_of_word_files">
      <span class="summary-item-value"><%= number_with_precision (@summary[:number_of_word_files] || 0), precision: 2 %></span>
      <span class="summary-item-label">Word (avg)</span>
    </div>
  </div>
  <div class="row">
    <div class="summary-item col-xs-3 spell_count">
      <span class="summary-item-value"><%= number_with_delimiter (@summary[:spell_count] || 0), precision: 2 %></span>
      <span class="summary-item-label">Spelling errors</span>
    </div>
    <div class="summary-item col-xs-3 readability_score">
      <span class="summary-item-value"><%= number_with_precision (@summary[:readability_score] || 0), precision: 2 %></span>
      <span class="summary-item-label">Readability score (avg)</span>
    </div>
  </div>
  <div class="row">
    <div class="summary-item col-xs-3 is_this_useful_yes">
      <span class="summary-item-value"><%= number_with_precision((@summary[:is_this_useful_yes] || 0), precision: 2)  %></span>
      <span class="summary-item-label">Useful (avg)</span>
    </div>
    <div class="summary-item col-xs-3 is_this_useful_no">
      <span class="summary-item-value"><%= number_with_precision((@summary[:is_this_useful_no] || 0), precision: 2) %></span>
      <span class="summary-item-label">Not Useful (avg)</span>
    </div>
    <div class="summary-item col-xs-3 number_of_internal_searches">
      <span class="summary-item-value"><%= number_with_precision((@summary[:number_of_internal_searches] || 0), precision: 2) %></span>
      <span class="summary-item-label">Number of Internal Searches (avg)</span>
    </div>
  </div>
</div>
