<% content_for :sidebar do %>
    <%= render 'sidebar', locals: { search: @search } %>
<% end %>

<%= render 'summary' %>

<div class="trends">
  <div class="total_items">
    <h3>Number of Content Items</h3>
    <%= line_chart @metrics.group('facts_metrics.dimensions_date_id').count %>
  </div>
  <div class="pageviews">
    <h3>Number of Pageviews</h3>
    <%= line_chart @metrics.group(:dimensions_date_id).sum(:pageviews) %>
  </div>
  <div class="unique_pageviews">
    <h3>Number of Unique Pageviews</h3>
    <%= line_chart @metrics.group(:dimensions_date_id).sum(:unique_pageviews) %>
  </div>
  <div class="feedex">
    <h3>Number of Feedex issues</h3>
    <%= line_chart @metrics.group(:dimensions_date_id).sum(:number_of_issues) %>
  </div>
  <div class="number_of_pdfs">
    <h3>Number of PDFs</h3>
    <%= line_chart @metrics.group(:dimensions_date_id).sum(:number_of_pdfs) %>
  </div>
  <div class="number_of_word_files">
    <h3>Number of Word files</h3>
    <%= line_chart @metrics.group(:dimensions_date_id).sum(:number_of_word_files) %>
  </div>
</div>

