<% content_for :sidebar do %>
    <%= render 'sidebar', locals: { search: @search } %>
<% end %>

<div class="summary">
  <div class="row">
    <div class="summary-item col-xs-3 total_items">
      <span class="summary-item-value"><%= number_with_delimiter @total_items %></span>
      <span class="summary-item-label">items</span>
    </div>
    <div class="summary-item col-xs-3 pageviews">
      <span class="summary-item-value"><%= number_with_delimiter @pageviews %></span>
      <span class="summary-item-label">pageviews (total)</span>
    </div>
    <div class="summary-item col-xs-3 unique_pageviews">
      <span class="summary-item-value"><%= number_with_delimiter @unique_pageviews %></span>
      <span class="summary-item-label">unique pageviews (avg)</span>
    </div>
  </div>
  <div class="row">
    <div class="summary-item col-xs-3 feedex_issues">
      <span class="summary-item-value"><%= number_with_delimiter @feedex_issues %></span>
      <span class="summary-item-label">Feedex issues (total)</span>
    </div>
    <div class="summary-item col-xs-3 number_of_pdfs">
      <span class="summary-item-value"><%= number_with_delimiter @number_of_pdfs %></span>
      <span class="summary-item-label">pdfs (total)</span>
    </div>
    <div class="summary-item col-xs-3 number_of_word_files">
      <span class="summary-item-value"><%= number_with_delimiter @number_of_word_files %></span>
      <span class="summary-item-label">Word files (total)</span>
    </div>
  </div>
</div>

<div class="trends">
  <div class="total_items">
    <h3>Number of Content Items</h3>
    <%= line_chart @metrics.group('facts_metrics.dimensions_date_id').count %>
  </div>
  <div class="pageviews">
    <h3>Number of Pageviews</h3>
    <%= line_chart @metrics.group(:dimensions_date_id).sum(:pageviews) %>
  </div>
  <div class="unique_pageviews">
    <h3>Number of Unique Pageviews</h3>
    <%= line_chart @metrics.group(:dimensions_date_id).sum(:unique_pageviews) %>
  </div>
  <div class="feedex">
    <h3>Number of Feedex issues</h3>
    <%= line_chart @metrics.group(:dimensions_date_id).sum(:number_of_issues) %>
  </div>
  <div class="number_of_pdfs">
    <h3>Number of PDFs</h3>
    <%= line_chart @metrics.group(:dimensions_date_id).sum(:number_of_pdfs) %>
  </div>
  <div class="number_of_word_files">
    <h3>Number of Word files</h3>
    <%= line_chart @metrics.group(:dimensions_date_id).sum(:number_of_word_files) %>
  </div>
</div>

