<% content_for :sidebar do %>
  <%= render 'sidebar'%>
<% end %>

<% content_for :header do %>
    <%= render 'audits/common/navigation' %>
<% end %>

<%= link_to "Export filtered audit to CSV", audits_my_content_path(params: filter_params, format: :csv), class: "report-export", data: { test_id: "report-export" } %>

<div class="report-section"
     data-test-id="report-section">
  <h3 data-test-id="content-item-count"><%= format_number(@monitor.total_count) %></h3>
  <p>Content items</p>
  <div>

    <div id="progress">
      <h3>Audit progress</h3>

      <%= render "progress_bar", percentage: @monitor.audited_percentage, data_test_id: 'audit-progress-bar' %>

      <table class="table">
        <tr>
          <td class="col-md-6">Audited</td>
          <td class="col-md-3"><%= format_number(@monitor.audited_count) %></td>
          <td class="col-md-3"><%= format_percentage(@monitor.audited_percentage) %></td>
        </tr>
        <tr>
          <td class="col-md-6">Still to audit</td>
          <td class="col-md-3"><%= format_number(@monitor.not_audited_count) %></td>
          <td class="col-md-3"><%= format_percentage(@monitor.not_audited_percentage) %></td>
        </tr>
      </table>
    </div>

    <div id="items-needing-improvement">
      <h3>Items needing improvement</h3>

      <%= render "progress_bar", percentage: @monitor.passing_percentage, data_test_id: 'improvement-progress-bar' %>

      <table class="table">
        <tr>
          <td class="col-md-6">Need improvement</td>
          <td class="col-md-3"><%= format_number(@monitor.not_passing_count) %></td>
          <td class="col-md-3"><%= format_percentage(@monitor.not_passing_percentage) %></td>
        </tr>
        <tr>
          <td class="col-md-6">Don't need improvement</td>
          <td class="col-md-3"><%= format_number(@monitor.passing_count) %></td>
          <td class="col-md-3"><%= format_percentage(@monitor.passing_percentage) %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
