<% content_for :page_title do %>
  Content Performance Manager
<% end %>

<% content_for :app_title do %>
  Content Performance Manager
<% end %>

<% content_for :head do %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :content do %>
  <%= render 'application/heroku' if Heroku.enabled?%>
  <%= render 'application/alpha_banner' %>
  <div class="row">
    <%= yield :sidebar %>
    <div class="<%= content_for?(:sidebar) ? 'col-sm-9' : ''%>">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render file: 'layouts/govuk_admin_template' %>
