<% content_for :content do %>
  <%= render 'application/beta_banner' %>
  <%= render 'application/heroku' if Heroku.enabled?%>
  <div class="row header-row">
    <div class="col-md-12">
      <%= yield :header %>
    </div>
  </div>
  <div class="row">
    <div class="<%= content_for?(:sidebar) ? 'col-sm-3' : ''%> sidebar">
      <%= yield :sidebar %>
    </div>
    <div class="<%= content_for?(:sidebar) ? 'col-sm-9' : ''%>">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render file: 'layouts/audit_wrapper' %>
